<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <style>
        .form-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }
    </style>
    <title>Bungalow Scraping Form Center Parcs</title>
    <script>
        function handleProgramChange() {
            var program = document.getElementById("program").value;
            var programDate = document.getElementById("program_date");
            var arr_date = document.getElementById("arr_date");
            var ret_date = document.getElementById("ret_date");
            var country = document.getElementById("country");
            var vacationParkCode = document.getElementById("vacation_park_code");
            var vacationPark = document.getElementById("vacation_park");
            var am_children = document.getElementById("am_children");
            var am_adults = document.getElementById("am_adults");
            var am_seniors = document.getElementById("am_seniors");
            var am_pets = document.getElementById("am_pets");
            var childrenAges = document.getElementById("children_ages");
            var program_cat = document.getElementById("program_cat");
            var offer = document.getElementById("offer")
            var vacation = document.getElementById("vacation")
            var scrape_country = document.getElementById("scrape_country")

                programDate.style.display = "none";
                country.style.display = "none";
                vacationParkCode.style.display = "none";
                vacationPark.style.display = "none";
                am_children.style.display = "none";
                am_adults.style.display = "none";
                am_seniors.style.display = "none";
                am_pets.style.display = "none";
                childrenAges.style.display = "none";
                arr_date.style.display = "none";
                ret_date.style.display = "none";
                program_cat.style.display = "none";
                vacation.style.display = "none";
                offer.style.display = "none";
                scrape_country.style.display = "none";

            if (program === "resort") {
                programDate.style.display = "block";
                country.style.display = "block";
                vacationParkCode.style.display = "block";
                vacationPark.style.display = "block";
                am_children.style.display = "block";
                am_adults.style.display = "block";
                am_seniors.style.display = "block";
                am_pets.style.display = "block";
                childrenAges.style.display = "block";
                program_cat.style.display = "none";
                vacation.style.display = "none";
                offer.style.display = "none";
                scrape_country.style.display = "none";

                if (programDate.value === "yes") {
                    arr_date.style.display = "block";
                    ret_date.style.display = "block";
                } else {
                    arr_date.style.display = "none";
                    ret_date.style.display = "none";
                }
            } 
            if (program == "offer/vacation") {
                programDate.style.display = "none";
                country.style.display = "none";
                vacationParkCode.style.display = "none";
                vacationPark.style.display = "none";
                am_children.style.display = "none";
                am_adults.style.display = "none";
                am_seniors.style.display = "none";
                am_pets.style.display = "none";
                childrenAges.style.display = "none";
                arr_date.style.display = "none";
                ret_date.style.display = "none";
                program_cat.style.display = "block";
                vacation.style.display = "block";
                offer.style.display = "block";
                scrape_country.style.display = "none";
            }
            if (program == "country") {
                scrape_country.style.display = "block"
                programDate.style.display = "block";
                country.style.display = "none";
                vacationParkCode.style.display = "none";
                vacationPark.style.display = "none";
                am_children.style.display = "block";
                am_adults.style.display = "block";
                am_seniors.style.display = "block";
                am_pets.style.display = "block";
                childrenAges.style.display = "block";
                program_cat.style.display = "none";
                vacation.style.display = "none";
                offer.style.display = "none";
                if (programDate.value === "yes") {
                    arr_date.style.display = "block";
                    ret_date.style.display = "block";
                } else {
                    arr_date.style.display = "none";
                    ret_date.style.display = "none";
                }
            }
        }
    </script>
</head>
<body>
    <h1>Bungalow Scraping Form Center Parcs</h1>
    <form method="POST" action="/" onsubmit="handleProgramChange()">
        <div class="form-container">
        <label for="program">Program:</label>
        <select name="program" id="program" onchange="handleProgramChange()">
            <option value="0">Select a program</option>
            <option value="resort">Resort</option>
            <option value="country">Country</option>
            <option value="offer/vacation">Offer/Vacation</option>
        </select>
            <label for="program_date">Program Date:</label>
            <select name="program_date" id="program_date" onchange="handleProgramChange()">
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        <div id="arr_date">
            <label for="arr_date">Arrival date:</label>
            <input type="date" name="arr_date">
        </div>
        <div id="ret_date">
            <label for="ret_date">Return date:</label>
            <input type="date" name="ret_date">
        </div>
        <div id="country">
            <label for="country">Country:</label>
            <select name="country">
                <option value="-1">Select a country</option>
                <option value="belgie">België</option>
                <option value="nederland">Nederland</option>
                <option value="duitsland">Duitsland</option>
                <option value="frankrijk">Frankrijk</option>
            </select>
        </div>
        <div id="vacation_park_code">
            <label for="vacation_park_code">Vacation Park Code:</label>
            <input type="text" name="vacation_park_code">
        </div>
        <div id="vacation_park">
            <label for="vacation_park">Vacation Park:</label>
            <input type="text" name="vacation_park">
        </div>
        <div id="scrape_country">
            <label for="scrape_country">Scrape country:</label>
            <select name="scrape_country">
                <option value="-1">Select a country</option>
                <option value="BE">België</option>
                <option value="NL">Nederland</option>
                <option value="DE">Duitsland</option>
                <option value="FR">Frankrijk</option>
            </select>
        </div>
        <div id="am_adults">
            <label for="am_adults">Adults:</label>
            <input type="number" name="am_adults" min="0" max="12">
        </div>
        <div id="am_seniors">
            <label for="am_seniors">Seniors:</label>
            <input type="number" name="am_seniors" min="0" max="12">
        </div>
        <div id="am_pets">
            <label for="am_pets">Pets:</label>
            <input type="number" name="am_pets" min="0" max="2">
        </div>
        <div id="am_children">
            <label for="am_children">Children:</label>
            <input type="number" name="am_children" min="0" max="12">
        </div>
        <div id="children_ages">
            <label for="children_ages">Children Ages:</label>
            <input type="text" name="children_ages">
        </div>
        <div id="program_cat">
            <label for="program_cat">Program Category:</label>
            <select name="program_cat" id="program_cat" onchange="handleProgramChange()">
                <option value="offer">Offer</option>
                <option value="vacation">Vacation</option>
            </select>
        </div>
        <div id="offer">
            <label for="offer">Offer:</label>
            <select name="offer">
                <option value="-1">Select an offer</option>
                <option value="last-minutes">Last minutes</option>
                <option value="ecocheques">Ecocheques</option>
                <option value="vroegboekvoordeel">Vroegboekvoordeel</option>
                <option value="familie-55plus-korting">Familiekorting</option>
                <option value="flexibel-boeken">Flexibelboeken</option>
                <option value="weekendje-weg-voorjaar">Weekendje weg voorjaar</option>
            </select>
        </div>
        <div id="vacation">
            <label for="vacation">Vacation:</label>
            <select name="vacation">
                <option value="-1">Select a vacation</option>
                <option value="paasvakantie">Paasvakantie</option>
                <option value="hemelvaart-weekend-weg">Hemelvaart</option>
                <option value="pinksteren-weekend-weg">Pinksteren</option>
                <option value="zomervakantie">Zomervakantie</option>
                <option value="herfstvakantie">Herfstvakantie</option>
                <option value="11-november">11-november</option>
                <option value="kerstvakantie">Kerstvakantie</option>
                <option value="krokusvakantie">Krokusvakantie</option>
            </select>
        </div>
    </div>
        <input type="submit" value="Submit">
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</body>
</html>